footer.footer
	.wrap
		.row.middle-xs
			.col-sm-6.made-with-love
				h3
					| 用
					svg.icon.icon-heart
						use(xlink:href='#icon-heart')
					| 打造
					a(href='https://tictactoe.js.org')  叽歪出品
			.col-sm-6.footer-nav
				nav
					a(href="https://tictactoe.js.org") AI 三子棋
					a(href="/zh-CN/about") 关于
					a(href="/zh-CN/contributors") 贡献者
					a(href="https://github.com/jeff-tian/gitmoji") GitHub
					a(href="/en-US/") English
